<!doctype html>
<html lang="en">
<head>
	<title></title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
	<script type="text/javascript" src="/js/controllers/contacts-controller.js"></script>

</head>
<body ng-app>
	<div class="container" ng-controller="AppCtrl">
		<div class="well">
			<h1>{{title}}</h1>
				<input type="search" placeholder="filter contacts..." ng-model="q"></input>
				<span class="badge">{{filtered.length}} found</span>
				<p/><p/>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th ng-click="order('name')">Name</th>
					<th ng-click="order('email')">Email</th>
					<th ng-click="order('company')">Company</th>
					<th ng-click="order('title')">Title</th>
					<th>Action</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" ng-model="contact.name"></input>
					<td><input type="text" ng-model="contact.email"></input>
					<td><input type="text" ng-model="contact.company"></input>
					<td><input type="text" ng-model="contact.title"></input>
					<td><button class="btn btn-primary" ng-click="addContact()">Add Contact</input>
					<td><button class="btn btn-info" ng-click="update()">Update</input>
				</tr>
				<tr ng-repeat="contact in filtered = (contactlist | filter: q) | orderBy:predicate:reverse">
					<td><a href="https://www.linkedin.com/vsearch/f?type=all&keywords={{contact.name}}+{{contact.company}}" target="_newWin">{{contact.name}}</a></td>
					<td>{{contact.email}}</td>
					<td>{{contact.company}}</td>
					<td>{{contact.title}}</td>
					<td><button class="btn btn-danger" ng-click="removeItem(contact._id)">Remove</button></td>
					<td><button class="btn btn-warning" ng-click="edit(contact)">Edit</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>